@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@600;700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}

body {
    margin: 0;
    background-color: #121212; /* Preto suave */
    color: #ffffff; /* Texto branco */
    font-family: 'Inter', Arial, sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o conteúdo ocupa a altura total da tela */
}
